// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.rounded-15 {
    border-radius: 15px;
}

.action-hover:hover{
    transform: scale(1.1);
}

input, input:active, input:focus, select, select:focus, select:active {
    border: none !important;
    border-bottom: 1px solid $dark !important;
    background-color: inherit !important;
    outline: none !important;
    box-shadow: none !important;
}   

textarea, textarea:active, textarea:focus {
    outline: none !important;
    border-color: inherit !important;
    box-shadow: none !important;
}
